src/gameboy/**/*.js
src/gameboy/**/*.map
node_modules
*.gb
*.gbc
*.bin
*.log
logs/

testroms/*.sav
src/testing
bootrom.asm

src/gameboy.js
src/gameboy.js.map

out/

dist/

bootrom/dmg_bootrom.bin
bootrom/dmg_bootrom.o
bootrom/dmg_bootrom.sym

bootrom/cgb_bootrom.bin
bootrom/cgb_bootrom.o
bootrom/cgb_bootrom.sym