html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#debug {
    line-height: 1.2
}

.hidden {
    display: none !important
}

.code {
    font-family: "Lucida Console", Monaco, monospace;
    outline: thin, 1px, black;
    vertical-align: top;

    line-height: 1;
}

.panel {
    display: flex;
    flex-direction: column;
}

#panels>* {
    display: inline-block;
    min-width: 25%;
}

.palette-container {
    display: flex;

    margin-bottom: 20px;
}

.palette-square {
    outline: solid 1px black;

    display: inline-block;
    min-width: 48px;
    min-height: 48px;
}

.interactive {
    position: absolute;
    bottom: 20;
}

#gameboy {
    width: 320px;
    height: 288px;

    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -webkit-crisp-edges;
    /* Webkit (Safari) */
    image-rendering: pixelated;
    /* Chrome */

    outline-style: solid;
    outline-width: thick;
    outline-color: black;
}

.bigscreen {
    width: 640px !important;
    height: 576px !important;
}

#tileset {
    width: 256px;
    height: 144px;

    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -webkit-crisp-edges;
    /* Webkit (Safari) */
    image-rendering: pixelated;
    /* Chrome */

    outline-style: solid;
    outline-width: thick;
    outline-color: black;
}